.person-icon-0 {
    background: #b3b3f5;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-1 {
    background: #F5C0F4;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-2 {
    background: #A5F5DC;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-3 {
    background: #65F5A1;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-4 {
    background: #BBF57F;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-5 {
    background: #D0F577;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-6 {
    background: #F5F085;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-7 {
    background: #F5D37D;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-8 {
    background: #F5BE71;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}
.person-icon-9 {
    background: #F5A1AF;
    height: 60px;
    border-radius: 30px;
    font-size: x-large;
    color: white;
}